<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2008-2009  Santiago Carot Nemesio
email: scarot@libresoft.es

This program is a (FLOS) free libre and open source implementation
of a multiplatform manager device written in java according to the
ISO/IEEE 11073-20601. Manager application is designed to work in 
DalvikVM over android platform.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.libresoft.openhealth.android"
    android:versionCode="1"
    android:versionName="1.0.0" 
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application>
        
        <!--<service
            android:name="es.libresoft.openhealth.android.MiddleHealth"
            android:enabled="true"
            android:launchMode="singleTask"
            android:process=":remote" >
            <intent-filter>
                <action android:name="es.libresoft.openhealth.android.IApplicationRegister" />
                <action android:name="es.libresoft.openhealth.android.IEventCallback" />
                <action android:name="es.libresoft.openhealth.android.IDevice" />
                <action android:name="es.libresoft.openhealth.android.IAgentActionService" />
                <action android:name="es.libresoft.openhealth.android.IPM_StoreActionService" />
                <action android:name="es.libresoft.openhealth.android.IScannerActionService" />
                <action android:name="es.libresoft.openhealth.android.IExternalDeviceApplication" />

                <action android:name="es.libresoft.openhealth.android.DRDROID_SERVICE" />
            </intent-filter>
        </service>-->

    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk android:minSdkVersion="14" />

    <!--<uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>-->

</manifest>