<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.it.porto.mydiabetes"
    android:versionCode="15"
    android:versionName="1.4.1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.Home"
            android:label="@string/app_name"
            android:theme="@style/NewHomeTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MyData"
            android:label="@string/title_activity_my_data"
            android:parentActivityName=".ui.activities.DataTools">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.DataTools"/>
        </activity>
        <activity
            android:name=".ui.activities.Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".ui.activities.DataTools">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.DataTools"/>
        </activity>
        <activity
            android:name=".ui.activities.SettingsReport"
            android:label="@string/report"
            android:parentActivityName=".ui.activities.DataTools">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.DataTools"/>
        </activity>
        <activity
            android:name=".ui.activities.SettingsInsulin"
            android:label="@string/insulin_calc"
            android:parentActivityName=".ui.activities.DataTools">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.DataTools"/>
        </activity>
        <activity
            android:name=".ui.activities.Insulins"
            android:label="@string/preferences_insulins"
            android:parentActivityName=".ui.activities.SettingsInsulin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SettingsInsulin"/>
        </activity>
        <activity
            android:name=".ui.activities.SettingsInsulinTargets"
            android:label="@string/preferences_target"
            android:parentActivityName=".ui.activities.SettingsInsulin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SettingsInsulin"/>
        </activity>
        <activity
            android:name=".ui.activities.Exercise"
            android:label="@string/title_activity_exercise"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppThemeCustomToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.GlycemiaChartList"
            android:label="@string/title_activity_glycemia"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppNewThemeCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.InsulinChartList"
            android:label="@string/title_activity_insulin"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppNewThemeCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.BloodPressure"
            android:label="@string/title_activity_blood_pressure"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppThemeCustomToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.CarbsChartList"
            android:label="@string/title_activity_carbo_hydrate"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppNewThemeCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.Cholesterol"
            android:label="@string/title_activity_cholesterol"
            android:theme="@style/AppThemeCustomToolBar"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.Disease"
            android:label="@string/title_activity_disease"
            android:theme="@style/AppThemeCustomToolBar"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.HbA1c"
            android:label="@string/title_activity_h1_a1c"
            android:theme="@style/AppThemeCustomToolBar"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.WeightChartList"
            android:label="@string/title_activity_weight"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppNewThemeCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.DataTools"
            android:label="@string/title_activity_data_tools"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.GlyInsCarbs"
            android:label="@string/title_activity_gly_ins_carbs"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.ExBPChoDisWei"
            android:label="@string/title_activity_ex_bpcho_dis_wei"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.GlycemiaDetail"
            android:label="@string/title_activity_glycemia_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.InsulinDetail"
            android:label="@string/title_activity_insulin_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.ExerciseDetail"
            android:label="@string/title_activity_exercise_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.MealActivity"
            android:label="@string/title_activity_meal"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.CarboHydrateDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppNewThemeCompat"
            android:label="@string/title_activity_carbo_hydrate_detail"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.BloodPressureDetail"
            android:label="@string/title_activity_blood_pressure_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.CholesterolDetail"
            android:label="@string/title_activity_cholesterol_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.WeightDetail"
            android:label="@string/title_activity_weight_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.HbA1cDetail"
            android:label="@string/title_activity_hb_a1c_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.DiseaseDetail"
            android:label="@string/title_activity_disease_detail"
            android:theme="@style/AppNewThemeCompat"
            android:parentActivityName=".ui.activities.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.ImportExport"
            android:label="@string/title_activity_import_export"
            android:parentActivityName=".ui.activities.DataTools">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.DataTools"/>
        </activity>
        <activity
            android:name=".ui.activities.TagDetail"
            android:label="@string/title_activity_tag_detail"
            android:parentActivityName=".ui.activities.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Preferences"/>
        </activity>
        <activity
            android:name=".ui.activities.TargetBG_detail"
            android:label="@string/title_activity_target_bg_detail"
            android:parentActivityName=".ui.activities.SettingsInsulinTargets">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SettingsInsulinTargets"/>
        </activity>
        <activity
            android:name=".ui.activities.InsulinsDetail"
            android:label="@string/title_activity_insulins_detail"
            android:parentActivityName=".ui.activities.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Preferences"/>
        </activity>
        <activity
            android:name=".ui.activities.Info"
            android:label="@string/title_activity_info"
            android:parentActivityName=".ui.activities.DataTools">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.DataTools"/>
        </activity>
        <activity
            android:name=".ui.activities.ViewPhoto"
            android:label="@string/title_activity_view_photo"
            android:parentActivityName=".ui.activities.CarboHydrateDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CarboHydrateDetail"/>
        </activity>
        <activity
            android:name=".ui.activities.TransferActivity"
            android:label="@string/title_activity_transfer"
            android:parentActivityName=".ui.activities.ImportExport"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ImportExport"/>
        </activity>

        <service
            android:name=".sync.transfer.Stream"
            android:exported="false">
        </service>

        <activity
            android:name=".ui.activities.ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".ui.activities.ImportExport">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ImportExport"/>
        </activity>
        <activity
            android:name=".ui.activities.LogbookChartList"
            android:label="@string/title_activity_logbook"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/AppNewThemeCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Home"/>
        </activity>
        <activity
            android:name=".ui.activities.DetailLogbookActivity"
            android:label="@string/title_activity_logbook_detail"
            android:parentActivityName=".ui.activities.LogbookChartList"
            android:theme="@style/AppNewThemeCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.LogbookChartList"/>
        </activity>
        <activity
            android:name=".ui.activities.DiseasesDetail"
            android:label="@string/add_DiseasesFragment"
            android:parentActivityName=".ui.activities.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Preferences"/>
        </activity>
        <activity
            android:name=".ui.activities.ExercisesDetail"
            android:label="@string/add_ExercisesFragment"
            android:parentActivityName=".ui.activities.Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Preferences"/>
        </activity>

        <activity
            android:name=".ui.activities.TaskListActivity"
            android:parentActivityName=".ui.activities.Home"
            android:theme="@style/NewHomeTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.Preferences"/>
        </activity>
    <!---->


        <!-- <activity
            android:name="com.example.projetoandroid.CloudServerActivity"
            android:label="@string/title_activity_cloud_server" >
        </activity>
        <activity
            android:name="com.example.projetoandroid.CloudLoginActivity"
            android:label="@string/title_activity_cloud_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity> -->

        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/welcomeTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7601388bb7cc37077c533c82536ee42dbc14d1a0"/>

        <receiver
            android:name=".utils.SyncAlarm"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name=".utils.AdviceAlertReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>
