<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application>

        <activity android:name="pt.it.porto.mydiabetes.ui.activities.GraphsActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.MiddleHealth"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":remote"
            >
            <intent-filter>
                <!--
                     These are the interfaces supported by the service, which
                     you can bind to.
                -->
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IApplicationRegister"/>
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IEventCallback"/>
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IDevice"/>
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IAgentActionService"/>
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IPM_StoreActionService"/>
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IScannerActionService"/>
                <action android:name="pt.it.porto.mydiabetes.middleHealth.es.libresoft.openhealth.android.IExternalDeviceApplication"/>
            </intent-filter>
        </service>

    </application>

</manifest>
